@import "_variables";
@import "_mixins";
@import "_keyframes";
@import "_fonts";

// @import "../../node_modules/swiper/swiper.min.css"; // Slider: npm install swiper, site: https://swiperjs.com/get-started
// @import "../../node_modules/air-datepicker/air-datepicker.css"; // Datepicker: npm i air-datepicker -S, site: https://air-datepicker.com/ru

html {
  --vh: 1vh;
}

html,
body {
  @extend %montserrat;
  font-style: normal;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-size-adjust: none;
  color: $black;
  scroll-behavior: smooth;
  font-size: 16px;
  line-height: 18px;
}

* {
  box-sizing: border-box;
}

img {
  border: none;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:focus,
  &:active {
    outline: 0px solid transparent;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input.error,
textarea.error {
  border-color: red;
}

.workemail {
  display: none;
}

.container {
  max-width: 1630px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

[data-style='sb-center'] {
  display: flex;
  justify-content: space-between;
  align-items: center
}

.inner {
  width: 100%;
}


.wrapper {
  min-height: calc(var(--vh) * 100);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.content {
  flex-grow: 1;
}

.header {
  flex-shrink: 0;
}

.footer {
  flex-shrink: 0;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.crumbs {
  height: 65px;
  width: 100%;
  background: rgba(88, 63, 0, 0.08);
  padding: 24px 30px;

  &__list {
    display: flex;
    @include reset-list;
  }

  &__item {
    font-size: 15px;
    line-height: 18px;
    position: relative;
    text-decoration: underline;
    margin-right: 15px;
    margin-left: 10px;

    &::after {
      content: '/';
      position: absolute;
      top: 0;
      right: -15px;
      text-decoration: none;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
      text-decoration: none;
      font-weight: 600;

      &::after {
        display: none;
      }
    }
  }
}

.title {
  font-size: 48px;
  line-height: 120%;
  color: $black;
  @extend %lobster;
}


.header {
  margin-bottom: 20px;

  &__top {
    padding: 20px 0;
    color: $white;
    background-color: $dark-green;
    font-weight: 600;
    font-size: 16px;
  }

  &__caption {
    text-transform: uppercase;
    font-weight: 600;
  }

  &__contacts {
    display: flex;
    align-items: center;
  }

  &__link {
    position: relative;
    padding-left: 45px;
    margin-right: 30px;
    font-weight: 600;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      @include bg;
    }
  }

  &__btn {
    @include reset-button;
    padding: 8px 25px;
    background-color: $orange;
    border-radius: 33px;
    font-weight: 600;
  }

  &__menu {
    margin-top: 20px;
  }
}

[data-style='mail'] {
  &::before {
    width: 22px;
    height: 18px;
    background-image: url('../images/mail.svg')
  }
}

[data-style='tel'] {
  &::before {
    width: 19px;
    height: 19px;
    background-image: url('../images/tel.svg')
  }
}



.menu {
  color: $black;
  font-weight: 600;
  font-size: 18px;

  &__list {
    @include reset-list;
    display: flex;
  }

  &__item+.menu__item {
    margin-left: 55px;
    position: relative;
  }

  &__item {
    &.active {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 5px;
        width: 35px;
        height: 3px;
        background-color: $dark-green;
      }
    }
  }

  &__sublist {
    @include reset-list;
    position: absolute;
    left: -45px;
    padding: 10px 0;
    top: 40px;
    display: none;
    transition: all .2s ease-in-out;
    background-color: $white;
    z-index: 100;
    border-radius: 5px;
    box-shadow: 1px 2px 5px #adb1ae;
    color: $black;

    &.open {
      display: block;
    }
  }

  &__subitem {
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    transition: background-color .2s ease-in-out;

    &:hover {
      background-color: $orange;
    }

    a {
      display: block;
      padding: 5px 15px;
    }
  }
}

.burger {
  display: none;
}


.sub-btn {
  display: none;
  @include reset-button;
  width: 15px;
  height: 9px;
  background-image: url('../images/arrow-down.svg');
  transition: transform .2s ease-in-out;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  padding: 0 10px;
  margin-left: 5px;

  &.open {
    transform: rotate(180deg)
  }
}

.slider {
  &__item {
    height: 430px;
    @include bg;
    display: flex;
    align-items: center;
  }

  &__title {
    padding: 10px 10px 10px 5px;
    @extend %lobster;
    color: transparent;
    font-weight: 400;
    font-size: 64px;
    line-height: 110%;
    max-width: 630px;
    background-clip: text;
    background-image: linear-gradient(to bottom, $dark-green, $light-green);
  }

  &__pagination {
    width: min-content;
    display: flex;
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;

    span {
      display: block;
      width: 14px;
      height: 14px;
      background-color: $white;
      border-radius: 50%;
      cursor: pointer;
      margin-right: 20px;
      opacity: 0.4;
      transition: opacity .2s ease-in-out;

      &:last-child {
        margin-right: 0;
      }

      &.swiper-pagination-bullet-active {
        opacity: 1;
      }
    }
  }
}

.category {
  padding: 0 15px 100px 15px;

  &__title {
    text-align: center;
    margin: 65px 0 45px 0;
  }

  &__caption {
    margin: 67px 0 40px;
  }

  &__logo {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }

  &__logo-img {
    width: 100px;
    height: 70px;
    margin-right: 30px;
  }

  &__logo-name {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
  }

  &__list {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }

  &__item {
    width: 100%;
    min-height: 360px;
    margin: 0 auto;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 60px 10px 30px;
    position: relative;
    max-width: 370px;
  }

  &__img {
    display: block;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    margin: 0 auto 25px;
  }

  &__name {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: $black;
    @extend %lobster;
    text-align: center;
  }

  &__link {
    width: 61px;
    height: 27px;
    border-radius: 22px;
    background-color: $dark-green;
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: '';
      width: 29px;
      height: 12px;
      background-image: url('../images/arrow.svg');
      @include bg;
    }
  }

}

.geography {
  background: rgba(88, 63, 0, 0.08);
  position: relative;
  color: $black;
  padding: 80px 0 100px;

  &__inner {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 0 70px;
    max-width: 1070px;
    width: 100%;
  }

  &__title {
    padding-top: 90px;
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;
    @extend %lobster;
    text-align: center;
    margin: 0 0 80px 0;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 66px;
      height: 66px;
      background-image: url('../images/gerography-title.svg');
      @include bg;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 210px 1fr 1fr 1fr;
    @include reset-list;
    padding: 40px 90px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 12px;
    gap: 0 30px;
  }

  &__item {
    width: 100%;
    text-align: right;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 20px;
    position: relative;
    padding-right: 30px;

    &::before {
      content: '';
      top: 0;
      right: 0;
      position: absolute;
      width: 16px;
      height: 14px;
      background-image: url('../images/red-arrow.svg');
      @include bg;
    }
  }
}

.about {
  padding: 80px 15px 100px;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__descr {
    flex-shrink: 0;
    width: 50%;
    margin-right: 50px;
  }

  &__title {
    margin: 0 0 40px 0;
  }

  &__img {
    max-width: 785px;
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 60px;

    img {
      max-width: 785px;
      width: 100%;
      max-height: 500px;
      object-fit: cover;
      border-radius: 60px;
    }
  }

  &__text {
    margin: 0 0 40px 0;

    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }

    strong {
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
    }
  }

  &__link {
    font-weight: 600;
    font-size: 15px;
    line-height: 150%;
    color: $white;
    background-color: $light-green;
    padding: 13px 50px;
    border-radius: 77px;
    display: inline-block;
    text-transform: uppercase;
  }
}

.delivery {
  padding: 80px 15px 100px;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__descr {
    width: 50%;
    flex-shrink: 0;
    margin-right: 50px;
  }

  &__title {
    margin: 0 0 40px 0;
  }


  &__img {
    max-width: 585px;
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 60px;
  }

  &__text {
    margin: 0 0 40px 0;

    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }

    strong {
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
    }
  }
}


.contacts {
  padding: 80px 15px 100px;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__descr {
    width: 50%;
    margin-right: 50px;
    flex-shrink: 0;
  }

  &__title {
    margin: 0 0 40px 0;
  }

  &__img {
    max-width: 585px;
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 60px;

    img {
      max-width: 585px;
      width: 100%;
      max-height: 500px;
      object-fit: cover;
      border-radius: 60px;
    }
  }

  &__requisites {
    margin: 0 0 40px 0;

    p {
      margin: 0;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }

    strong {
      display: block;
      margin-bottom: 15px;
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
    }
  }

  &__link {
    display: block;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 24px;
    padding-left: 35px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      @include bg;
    }
  }
}

[data-style='name'] {
  &::before {
    background-image: url('../images/home-black.svg');
    width: 22px;
    height: 21px;
  }
}

[data-style='phone'] {
  &::before {
    background-image: url('../images/phone-black.svg');
    width: 19px;
    height: 19px;

  }
}

[data-style='mail-black'] {
  color: $dark-green;
  text-decoration: underline;

  &::before {
    background-image: url('../images/mail-black.svg');
    width: 23px;
    height: 18px;
  }
}

.footer {
  color: $white;

  &__top {
    background-color: $light-green;
    padding: 70px 0;
  }

  &__row {
    display: flex;
  }

  &__logo {
    margin-bottom: 40px;
    display: block;
  }

  &__descr {
    display: flex;
    margin-right: 30px;

  }

  &__col {
    margin-right: 100px;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
  }

  &__address {
    position: relative;
    padding-left: 45px;
    margin-bottom: 20px;
    display: block;
    font-weight: 600;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      @include bg;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    @include reset-list;
    margin-top: 92px;
  }

  &__link {
    font-weight: 600;
  }

  &__item {
    margin-bottom: 20px;
  }

  &__copyright-block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 0;
    background-color: $dark-green
  }

  &__copyright {
    font-weight: 500;
    font-size: 15px;
    line-height: 140%;
  }
}

[data-style='address'] {
  &::before {
    top: -3px;
    width: 22px;
    height: 22px;
    background-image: url('../images/address.svg')
  }
}


.form {
  margin-left: auto;

  &__row {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
  }

  &__title {
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 45px;
    margin-top: 20px;
    @extend %lobster;
  }

  &__input {
    border-radius: 22px;
    border: none;
    background-color: $white;
    margin-right: 10px;
    padding: 15px;
    outline: none;
    @extend %montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: $black;

    &::placeholder {
      font-weight: 500;
      color: $gray;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__textarea {
    padding: 15px;
    outline: none;
    @extend %montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: $black;
    border-radius: 22px;
    border: none;
    background-color: $white;
    max-height: 48px;
    resize: none;
    width: 100%;
    margin-bottom: 50px;
  }

  &__btn {
    @include reset-button;
    font-weight: 600;
    font-size: 15px;
    @extend %montserrat;
    text-transform: uppercase;
    padding: 14px 50px;
    background-color: $orange;
    border-radius: 22px;
    margin-right: 35px;
  }

  &__agreement {
    display: flex;
    align-items: center;
  }

  &__text {
    font-weight: 500;
    font-size: 15px;
    max-width: 430px;
  }
}

.aside {
  max-width: 470px;
  width: 100%;
  color: $white;
  min-height: max-content;

  &__top {
    display: flex;
    align-items: center;
    background-color: $light-green;
    padding: 18px 0;
    padding-left: 90px;
    height: 65px;
  }

  &__caption {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    @extend %lobster;
  }

  &__btn {
    @include reset-button;
    position: relative;
    width: 24px;
    display: block;
    margin-right: 40px;

    &::before,
    &::after,
    span {
      content: "";
      background-color: $white;
      display: block;
      height: 3px;
      margin: 3px 0;
      transition: 0.5s;
    }
  }

  &__list {
    @include reset-list;
    background-color: $dark-green;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    padding-left: 90px;
    height: 100%;
  }

  &__link {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item {
    margin-bottom: 10px;
  }

  &__icon {
    width: 70px;
    height: 70px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, .3);
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: '';
      @include bg;
      display: block;
    }
  }

  &__name {
    font-weight: 600;
    font-size: 16px;
  }
}

[data-style='meet'] {
  &::before {
    background-image: url('../images/meet.svg');
    width: 50px;
    height: 25px;
  }
}

[data-style='milk'] {
  &::before {
    background-image: url('../images/milk.svg');
    width: 38px;
    height: 35px;
  }
}

[data-style='kids'] {
  &::before {
    background-image: url('../images/kids.svg');
    width: 38px;
    height: 37px;
  }
}

[data-style='freezing'] {
  &::before {
    background-image: url('../images/freez.svg');
    width: 37px;
    height: 40px;
  }
}

[data-style='drinks'] {
  &::before {
    background-image: url('../images/drink.svg');
    width: 39px;
    height: 42px;
  }
}

[data-style='fruit'] {
  &::before {
    background-image: url('../images/fruit.svg');
    width: 47px;
    height: 41px;
  }
}

[data-style='vegetables'] {
  &::before {
    background-image: url('../images/veg.svg');
    width: 36px;
    height: 40px;
  }
}

[data-style='nuts'] {
  &::before {
    background-image: url('../images/nuts.svg');
    width: 40px;
    height: 40px;
  }
}

[data-style='feed'] {
  &::before {
    background-image: url('../images/feed.svg');
    width: 41px;
    height: 40px;
  }
}

.table {
  margin-bottom: 40px;


  &__captions {
    display: grid;
    gap: 0 20px;
    background-color: $light-green;
    padding: 25px;
    vertical-align: middle;
  }

  &__caption {
    font-weight: 600;
    color: $white;
  }

  &__row {
    display: grid;
    padding: 25px;
    gap: 0 20px;
    font-weight: 500;
  }
}

[data-style='group-item'] {
  &:nth-child(even) {
    background: #F2F0EB;
  }

  &:nth-child(odd) {
    background-color: $white;
  }
}

[data-style='group-name'] {
  background-color: $orange;
}

[data-table='meet-table'] {
  grid-template-columns: 1fr 150px 120px;
}

[data-table='milk-table'] {
  grid-template-columns: 1fr 120px;
}

[data-table='drinks-table'] {
  grid-template-columns: 1fr 150px 150px;
}

[data-table='feed-table'] {
  grid-template-columns: 1fr 120px;
}

[data-table='kids-table'] {
  grid-template-columns: 1fr 150px 140px 140px;
}



.nav-page {
  &__list {
    display: flex;
    @include reset-list;
    align-items: center;
  }

  &__item {
    padding: 10px 0;
    width: 40px;
    border: 1px solid $dark-green;
    color: $dark-green;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &.active {
      background-color: $dark-green;
      color: $white;
    }

    &:last-child {
      margin-right: 20px;
    }
  }

  &__btn {
    @include reset-button;
    width: 42px;
    height: 16px;
    background-image: url('../images/arrow-green.svg');
  }
}

/* ПОДКЛЮЧЕНИЕ СТИЛЕЙ АДАПТИВА */
@import "_response";
/* НИЖЕ СТЕЛЕЙ НЕ ДОЛЖНО БЫТЬ!!! */
