.about(class=!page?'page':null)
  .container
    .about__inner
      .about__descr
        h2.about__title.title О компании
        .about__text
          strong ООО «Импорт-Гарант» занимается поставкой продуктов питания со всего мира, начиная от свежих фруктов и овощей, заканчивая продукцией глубокой переработки и изысконных деликатесов.
          p Собственные экспортные компании, расположенные во всех уголках мира, обеспечивают поставки свежайщих экзотических фруктов непосредственно с ферм. Мясная, молочная и деликатесная продукция не оставит равнодушным даже самого изысканного гурмана.
        if page
          a.about__link(href="/about.html") подробнее
      div.about__img
        img(src="../images/about.jpg" alt="About Company")
