.about
  .container
    .about__inner
    .about__descr
      h2.about__title.title О компании
      p.about__text ООО «Импорт-Гарант» занимается поставкой продуктов питания со всего мира, начиная от свежих фруктов и овощей, заканчивая продукцией глубокой переработки и изысконных деликатесов. Собственные экспортные компании, расположенные во всех уголках мира, обеспечивают поставки свежайщих экзотических фруктов непосредственно с ферм. Мясная, молочная и деликатесная продукция не оставит равнодушным даже самого изысканного гурмана.
      a.about__link(href="/about.html") подробнее
    img.about__img(src="../images/about.jpg" alt="About Company")
