aside.aside
  .aside__top
    button.aside__btn
      span
    .aside__caption Каталог товаров
  ul.aside__list
    each item in category
      li.aside__item
        a.aside__link(href=item.link)
          .aside__icon(data-style=item.icon)
          .aside__name=item.name
