.contacts
  .container
    .contacts__inner
      .contacts__descr
        h2.contacts__title.title Контакты
        .contacts__link(data-style='name') ООО «Импорт-Гарант»
        a.contacts__link(href='tel:88002013105' data-style='phone') 8 (800) 201 31 05
        a.contacts__link(href='mailto:info@import-garant.com' data-style='mail-black') info@import-garant.com
        .contacts__requisites
          strong Реквизиты:
          p Общество с ограниченной ответственностью «Импорт-Гарант»
          p 603003, г. Нижний Новгород, ул. Ефремова, д. З помещение П5
          p ИНН 5040060171
          p КПП 526301001
          p ОГРН 1155040000499
      .contacts__img
        img(src="../images/contacts.jpg" alt="contacts Company")
