.delivery.page
  .container
    .page__inner
      .page__descr
        h2.page__title.title Доставка и оплата
        .page__text
          strong ООО «Импорт-Гарант» готовы организовать доставку любого объема товара, в любую точку Российской Федерации.
          p Также для наших клиентов доступны услуги самовывоза или машинами транспортных компаний. Условия оплаты обсуждается с каждым покупателем индивидуально исходя из ассортимента и объема закупаемой продукции.
      .page__img
        img(src="images/delivery.jpg" alt="delivery Company")
