.delivery
  .container
    .delivery__inner
      .delivery__descr
        h2.delivery__title.title Доставка и оплата
        .delivery__text
          strong ООО «Импорт-Гарант» готовы организовать доставку любого объема товара, в любую точку Российской Федерации.
          p Также для наших клиентов доступны услуги самовывоза или машинами транспортных компаний. Условия оплаты обсуждается с каждым покупателем индивидуально исходя из ассортимента и объема закупаемой продукции.
      .delivery__img
        img(src="../images/delivery.jpg" alt="delivery Company")
