header.header#header
  .header__top
    .container(data-style='sb-center')
      .header__caption продукты со всего света
      .header__contacts
        a.header__link(href='mailto: info@import-garant.com' data-style='mail') info@import-garant.com
        a.header__link(href='tel:88002013105' data-style='tel') 8 (800) 201 31 05
        button.header__btn(type='button') перезвонить мне
  .header__menu
    .container(data-style='sb-center')
      a.header__logo(href='#')
        img(src="images/logo.svg" alt="Импорт Грант")
      nav.menu
        include menu
