<div class="graph-modal">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="first">
    <button class="btn-reset graph-modal__close js-modal-close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      form.form
        div.form__title Обратная связь
        .form__row
          input.form__input(placeholder='Имя')
          input.form__input(placeholder='Телефон')
        .form__text Отправляя сообщение, вы соглашаетесь на обработку персональных данных
        button.form__btn отправить
    </div>
  </div>
</div>
