.graph-modal__container(role="dialog" aria-modal="true" data-graph-target="notice")
  button.btn-reset.graph-modal__close.js-modal-close(aria-label="Закрыть модальное окно")
  .graph-modal__content
    div.form__notice Сообщение успешно отправленно
    button.form__btn.modal.js-btn.js-close Ок
