extends layout.pug

block variables
  - var pageTitle = "Каталог"
block content
  include blocks/aside
  .inner
    -var pageCatalog = true
    include blocks/crumbs
    -var page = true
    include blocks/category
