extends layout.pug

block variables
  - var pageTitle = "Напитки"
block content
  include blocks/aside
  .inner
    include blocks/crumbs
    .category
      .container
        .category__top
          .category__caption.title=pageTitle
          a.category__price(href="") Скачать прайс-лист.pdf
        .category__anchors
          .category__btn Показать категории
          .category__anchors-list
            a.category__anchor(href=`#${catalog.drinks.group_1.id}`)=catalog.drinks.group_1.caption
            a.category__anchor(href=`#${catalog.drinks.group_2.id}`)=catalog.drinks.group_2.caption
        .table-scroll
          table.table
            tr.table__caption
              td.table__name Наименование продукции
              td.table__term Срок годности
              td.table__amount Кол -во шт. в уп.
            +drinks-group(catalog.drinks.group_1)
            +drinks-group(catalog.drinks.group_2)
