extends layout.pug

block variables
  - var pageTitle = "Детское питание"
block content
  include blocks/aside
  .inner
    include blocks/crumbs
    .category
      .container
        .category__top
          .category__caption.title=pageTitle
