include variables.pug

doctype html
html(lang="ru")
  block variables
  head
    block head
      meta(charset="UTF-8")
      title #{pageTitle} | Импорт Гарант
      meta(name='viewport' content='width=device-width, initial-scale=1')
      link(href="styles/main.min.css?v="+ versionFiles, rel="stylesheet")



  body(class=pageTitle=='Главная'? 'home': null)
    div.wrapper#wrapper
      include blocks/header
      main.content
        block content
          include blocks/crumbs
      .graph-modal
        include blocks/modal
        include blocks/notice-modal
      include blocks/footer


    block scripts
      script(src="scripts/graph-modal.min.js" defer)
      script(src="scripts/main.min.js?v=" + versionFiles defer)
