extends layout.pug

block variables
  - var pageTitle = "Мясная продукция"
block content
  include blocks/aside
  .inner
    -var pageCatalog = false
    include blocks/crumbs
    .category
      .container
        .category__caption.title=pageTitle
        //- .category__logo
        //-   img.category__logo-img(src="images/category-logo-meet.png" alt=pageTitle)
        //-   .category__logo-name ОАО «Волковысский мясокомбинат»
        .table
          .table__captions(data-table='meet-table')
            .table__caption Наименование продукции
            .table__caption Срок годности
            .table__caption Вес коробки
          +meet-group(catalog.meet.group_1)
          +meet-group(catalog.meet.group_2)
          +meet-group(catalog.meet.group_3)
          +meet-group(catalog.meet.group_4)
          +meet-group(catalog.meet.group_5)
          +meet-group(catalog.meet.group_6)
        include blocks/pagination
