extends layout.pug

block variables
  - var pageTitle = "Молочная продукция"
block content
  include blocks/aside
  .inner
    include blocks/crumbs
    .category
      .container
        .category__top
          .category__caption.title=pageTitle
        .table-scroll
          table.table
            tbody
              tr.table__caption
                td.table__name Наименование продукции
                td.table__weight Ед. измерения
              +milk-group
