-
  var versionFiles = 0,
  menu = [
    {
      "title": "О компании",
      "link": "about.html",
    },
    {
      "title": "Каталог",
      "link": "catalog.html",
      "submenu": [
        {
          "title": "Мясная продукция",
          "link": "#"
        },
        {
          "title": "Молочная продукция",
          "link": "#"
        },
        {
          "title": "Детское питание",
          "link": "#"
        },
        {
          "title": "Продукция в заморозке",
          "link": "#"
        },
        {
          "title": "Напитки",
          "link": "#"
        },
        {
          "title": "Фрукты",
          "link": "#"
        },
        {
          "title": "Овощи",
          "link": "#"
        },
        {
          "title": "Орехи и сухофрукты",
          "link": "#"
        },
        {
          "title": "Корма для животных",
          "link": "#"
        }]
    },
    {
      "title": "Доставка и оплата",
      "link": "delivery.html",
    },
    {
      "title": "Контакты",
      "link": "contacts.html",
    },
  ],
  slider = [
    {
      'title': 'Дистрибуция продуктов питания',
      'bg': 'images/slider-1.jpg'
    },
    {
      'title': 'Дистрибуция продуктов питания',
      'bg': 'images/slider-1.jpg'
    },
    {
      'title': 'Дистрибуция продуктов питания',
      'bg': 'images/slider-1.jpg'
    },
  ],
  category = [
    {
      'name':'Мясная продукция',
      'img':'images/category-1.jpg',
      'link': '#',
      'icon': 'meet',
    },
    {
      'name':'Молочная продукция',
      'img':'images/category-2.jpg',
      'link': '#',
      'icon': 'milk',
    },
    {
      'name':'Детское питание',
      'img':'images/category-3.jpg',
      'link': '#',
      'icon': 'kids',
    },
    {
      'name':'Продукция в заморозке',
      'img':'images/category-4.jpg',
      'link': '#',
      'icon': 'freezing',
    },
    {
      'name':'Напитки',
      'img':'images/category-5.jpg',
      'link': '#',
      'icon': 'drinks',
    },
    {
      'name':'Фрукты',
      'img':'images/category-6.jpg',
      'link': '#',
      'icon': 'fruit',
    },
    {
      'name':'Овощи',
      'img':'images/category-7.jpg',
      'link': '#',
      'icon': 'vegetables',
    },
    {
      'name':'Орехи и сухофрукты',
      'img':'images/category-8.jpg',
      'link': '#',
      'icon': 'nuts',
    },
    {
      'name':'Корма для животных',
      'img':'images/category-9.jpg',
      'link': '#',
      'icon': 'feed',
    },
  ],
  geography = ['Россия', 'Узбекистан', 'Африка', 'Иран', 'Белорусь', 'Китай', 'Латинская Америка', 'Турция', 'Молдавия', 'Юго-Восточная Азия', 'Египет', 'Таджикистан',  'Европа', 'Израиль',
  ];
