-
  var versionFiles = 0,
  menu = [
    {
      "title": "О компании",
      "link": "/",
    },
    {
      "title": "Каталог",
      "link": "#",
      "submenu": [
        {
          "title": "Мясная продукция",
          "link": "#"
        },
        {
          "title": "Молочная продукция",
          "link": "#"
        },
        {
          "title": "Детское питание",
          "link": "#"
        },
        {
          "title": "Продукция в заморозке",
          "link": "#"
        },
        {
          "title": "Напитки",
          "link": "#"
        },
        {
          "title": "Фрукты",
          "link": "#"
        },
        {
          "title": "Овощи",
          "link": "#"
        },
        {
          "title": "Орехи и сухофрукты",
          "link": "#"
        },
        {
          "title": "Корма для животных",
          "link": "#"
        }]
    },
    {
      "title": "Доставка и оплата",
      "link": "#",
    },
    {
      "title": "Контакты",
      "link": "#",
    },
  ],
  slider = [
    {
      'title': 'Дистрибуция продуктов питания',
      'bg': '../images/slider-1.jpg'
    },
    {
      'title': 'Дистрибуция продуктов питания',
      'bg': '../images/slider-1.jpg'
    },
    {
      'title': 'Дистрибуция продуктов питания',
      'bg': '../images/slider-1.jpg'
    },
  ],
  category = [
    {
      'name':'Мясная продукция',
      'img':'../images/category-1.jpg',
      'link': '#'
    },
    {
      'name':'Молочная продукция',
      'img':'../images/category-2.jpg',
      'link': '#'
    },
    {
      'name':'Детское питание',
      'img':'../images/category-3.jpg',
      'link': '#'
    },
    {
      'name':'Продукция в заморозке',
      'img':'../images/category-4.jpg',
      'link': '#'
    },
    {
      'name':'Напитки',
      'img':'../images/category-5.jpg',
      'link': '#'
    },
    {
      'name':'Фрукты',
      'img':'../images/category-6.jpg',
      'link': '#'
    },
    {
      'name':'Овощи',
      'img':'../images/category-7.jpg',
      'link': '#'
    },
    {
      'name':'Орехи и сухофрукты',
      'img':'../images/category-8.jpg',
      'link': '#'
    },
    {
      'name':'Корма для животных',
      'img':'../images/category-9.jpg',
      'link': '#'
    },
  ],
  geography = ['Россия', 'Белорусь', 'Молдавия', 'Таджикистан', 'Узбекистан', 'Китай', 'Юго-Восточная Азия', 'Европа',  'Африка', 'Латинская Америка', 'Египет', 'Израиль', 'Иран', 'Турция',
  ];
